@model AuthorEdit
@{
  ViewData["Title"] = "Edit " + Model.FirstName + " " + Model.LastName;
}

<h1>Edit @Model.FirstName @Model.LastName</h1>
<hr>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form asp-action="Edit" class="row g-3">
  <input asp-for="Id" hidden disabled>
  <div class="row-md-6">
    <label asp-for="FirstName" class="form-label"></label>
    <input asp-for="FirstName" class="form-control">
    <span asp-validation-for="FirstName" class="text-danger"></span>
  </div>
  <div class="row-md-6">
    <label asp-for="LastName" class="form-label"></label>
    <input asp-for="LastName" class="form-control">
    <span asp-validation-for="LastName" class="text-danger"></span>
  </div>
  <div class="row-md-6">
    <label asp-for="DateOfBirth" class="form-label"></label>
    <input asp-for="DateOfBirth" class="form-control">
    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
  </div>
  <div class="row-md-6">
    <label asp-for="ImageLink" class="form-label"></label>
    <input asp-for="ImageLink" class="form-control">
    <span asp-validation-for="ImageLink" class="text-danger"></span>
  </div>
  <div class="col d-flex justify-content-between align-items-baseline">
    <a asp-action="Index" class="">Back to List</a>
    <input type="submit" value="Update" class="btn btn-primary">
  </div>
</form>

@section Scripts {
  @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
  }
}