@{
    ViewData["Title"] = "Manga Library";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Manga Library</h1>
    <p>
        This online library is meant to function as a database where one may browse, add, edit, and delete manga titles.
        This includes manga series, authors, genres, and even individual books.  I hope you enjoy your visit to my Manga Library!
    </p>
</div>
