@model GenreEdit
@{
  ViewData["Title"] = "Edit " + Model.Name;
}

<h1>Edit @Model.Name</h1>
<hr>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form asp-action="Edit" class="row g-3">
  <input asp-for="Id" hidden disabled>
  <div class="row-md-6">
    <label asp-for="Name" class="form-label"></label>
    <input asp-for="Name" class="form-control">
    <span asp-validation-for="Name" class="text-danger"></span>
  </div>
  <div class="row-md-6">
    <label asp-for="Description" class="form-label"></label>
    <input asp-for="Description" class="form-control">
    <span asp-validation-for="Description" class="text-danger"></span>

    <div class="col d-flex justify-content-between align-items-baseline">
      <a asp-action="Index" class="">Back to List</a>
      <input type="submit" value="Update" class="btn btn-primary">
    </div>
  </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}